header {
	background-color: #000;
	height: 80px;
	width: 100%;
	position: fixed; /* stick to top */
	top: 0;
	left: 0;
	z-index: 1000; /* ensure it's above the video */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
}

header ul {
	position: absolute;
	right: 5vw;
	top: 0;
	line-height: 80px;
}

header li {
	display: inline;
	margin-right: 4vw;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

h1 {
	color: #fff;
	position: absolute;
	left: 120px;
	top: 0;
	line-height: 80px;
	background-image: url(images/mikulogo.gif);
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center center;
	width: 210px;
	height: 80px;
	text-indent: -9999px;
}
.ghost > * {
  animation: fly 25s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  pointer-events: none;
}

@keyframes fly {
  0% {
    transform: translate(-200%, 110vh) rotateZ(0deg);
    opacity: 1;
  }
  12.5% {
    transform: translate(120vw, -120%) rotateZ(20deg);
  }
  25% {
    transform: translate(-200%, 50vh) scale(1.75) rotateZ(-20deg);
  }
  37.5% {
    transform: translate(-200%, -120%) rotateZ(-40deg);
    opacity: 0.5;
  }
  50% {
    transform: translate(100vw, 50vh) rotateZ(0deg);
  }
  62.5% {
    transform: translate(20vw, 100vh) rotateZ(20deg);
  }
  75% {
    transform: translate(200%, 100vh) rotateZ(20deg);
    opacity: 0.25;
  }
  87.5% {
    transform: translate(50vw, -200%) scale(1.75) rotateZ(20deg);
  }
  100% {
    transform: translate(-200%, 110vh) rotateZ(0deg);
    opacity: 1;
  }
}