* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background-color: #f2fbff;
	position: relative;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1; /* Pushes footer down if content is short */
}

header {
	background-color: #000;
	height: 80px;
	width: 100%;
	position: fixed; /* stick to top */
	top: 0;
	left: 0;
	z-index: 1000; /* ensure it's above the video */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
}

header ul {
	position: absolute;
	right: 5vw;
	top: 0;
	line-height: 80px;
}

header li {
	display: inline;
	margin-right: 4vw;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

h1 {
	color: #fff;
	position: absolute;
	left: 120px;
	top: 0;
	line-height: 80px;
	background-image: url(images/mikulogo.gif);
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center center;
	width: 210px;
	height: 80px;
	text-indent: -9999px;
} 

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	background: #f2fbff;
	box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item{
	width: 200px;
	height: 300px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 20px;
	box-shadow: 0 30px 50px #505050;
	background-position: 50% 50%;
	background-size: cover;
	display: inline-block;
	transition: 0.5s;
}

